---
layout: default
---
<!-- about.html -->
        <div class="post">
          <header class="post-header">
            {% if page.profile -%}
            <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
              {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
        
              {% if page.profile.image_circular %}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}
        
              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
              {% endif -%}
            </div>
            {%- endif %}

            <h1 class="post-title">
              {% if site.title == "blank" -%}<span class="font-weight-bold" style="color: var(--global-theme-color);">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
            </h1>
            <p class="desc">{{ page.subtitle | newline_to_br }}</p>
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %} 
          </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.research_interests %}
          <div class="cv about-research-section">
            <div class="card mt-3 p-3">
              <h3 class="card-title">Research Interests</h3>
              <div>
                {% assign entry = site.data.research_interests %}
                {% include cv/nested_list.html no_italic=true %}
              </div>
            </div>
          </div>
          {% endif %}

          <section class="about-journal-editorship">
            <h2>Journal Editorship</h2>
            <ul>
              <li>Executive Editor, <a href="https://pubs.acs.org/page/jcisd8/about.html">Journal of Chemical Information and Modeling</a>.</li>
              <li>Advisory Editor, <a href="https://www.worldscientific.com/worldscinet/jcbc">Journal of Computational Biophysics and Chemistry</a>.</li>
              <li>Associate Editor, <a href="https://www.siam.org/publications/siam-journals/siam-journal-on-life-sciences/">SIAM Journal on Life Sciences (SIALS)</a>.</li>
              <li>Advisory Editor, <a href="https://onlinelibrary.wiley.com/journal/25778196">Engineering Reports</a>.</li>
              <li>Honorary Editor, <a href="https://ijeas.akdeniz.edu.tr/">International Journal of Engineering and Applied Sciences</a>.</li>
              <li>Advisory Editorial Board, <a href="https://www.sciencedirect.com/journal/chemical-physics-letters">Chemical Physics Letters</a>.</li>
              <li>Editorial Board, <a href="https://www.scirp.org/journal/ijmnta/">International Journal of Modern Nonlinear Theory and Application</a>.</li>
              <li>Editorial Board, <a href="https://doaj.org/toc/1687-4196">International Journal of Biomedical Imaging</a>.</li>
              <li>Editorial Board, <a href="https://www.mdpi.com/journal/mathematics/sectioneditors/mathematical_biology?page_no=1">MDPI/Mathematical Biology</a>.</li>
              <li>Editorial Board, <a href="https://www.sciencedirect.com/journal/artificial-intelligence-chemistry">Artificial Intelligence Chemistry</a>.</li>
              <li>Editor, <a href="https://bimsa.net/journal/daat/">Data Analytics and Topology</a>.</li>
              <li>Editorial Board, <a href="https://mdlijournal.org/index.php/mdli/index">Mathematics of Data, Learning, and Intelligence</a>.</li>
              <li>Founding Editor-in-Chief, <a href="https://www.degruyter.com/view/j/cmb?lang=en">Computational and Mathematical Biophysics</a>, 2011-2025.</li>
            </ul>
          </section>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
